<script src="https://cdn.rag.progress.cloud/nuclia-widget.umd.js"></script>
<nuclia-popup
  audit_metadata='{"config":"RAGgle","widget":"ragle-20"}'
  knowledgebox="f3cfbf07-9e71-45e2-8648-94073a4ce56d"
  zone="aws-eu-central-1-1"
  features="answers,contextImages,rephrase,filter,suggestions,autocompleteFromNERs,citations,hideResults,displayMetadata,relations,navigateToLink,noChatHistory"
  filters="labels"
  rag_strategies="neighbouring_paragraphs|2|2"
  rag_images_strategies="page_image|2"
  generativemodel="chatgpt-azure-4o"
  citation_threshold="0.4"
  feedback="none"></nuclia-popup>
<div data-nuclia="search-widget-button">Click here to open the Nuclia search widget</div>